@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root{
    /* Colors */
    --primary-black: #161616;
    --primary-white: beige;
    --primary-color: #FF6A00;
    --primary-grey: #808080;

    /* Fonts */
    --primary-font: 'Exo 2', sans-serif;
    --secondary-font: 'Signika Negative', serif;

    /* Font Sizes */
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
    --font-size-xlarge: 32px;
    --font-size-xxlarge: 48px;
    --font-size-xxxlarge: 56px;

    /* Units */
    --unit-small: 4px;
    --unit-medium: 8px;
    --unit-large: 16px;
    --unit-xlarge: 24px;
    --unit-xxlarge: 32px;
    --unit-xxxlarge: 48px;


}

body{
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-family: var(--primary-font);
}

a{
    color: var(--primary-black);
    text-decoration: none;
}




